# SignNow.NET gitignore
#
# OS and IDE specific ignoring files shold be configured
# into ~/.global_gitignore
# @see: https://help.github.com/en/articles/ignoring-files#create-a-global-gitignore
#

# ignore local files with API credentials
*.signnow.com.json
/.vs/ProjectSettings.json
/SignNow.Net/obj/Release/net45/SignNow.Net.AssemblyInfo.cs
/SignNow.Net/obj/Release/net45/SignNow.Net.AssemblyInfoInputs.cache
/SignNow.Net/obj/Release/net45/SignNow.Net.csprojAssemblyReference.cache
/SignNow.Net/obj/Release/netstandard1.2/SignNow.Net.AssemblyInfo.cs
/SignNow.Net/obj/Release/netstandard1.2/SignNow.Net.AssemblyInfoInputs.cache
/SignNow.Net/obj/Release/netstandard1.2
/SignNow.Net/obj/Release/netstandard2.0/SignNow.Net.AssemblyInfo.cs
/SignNow.Net/obj/Release/netstandard2.0/SignNow.Net.AssemblyInfoInputs.cache
/SignNow.Net/obj/Release/netstandard2.0/SignNow.Net.csprojAssemblyReference.cache
slnx.sqlite
